<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>个人空间后台管理系统</title> 
    <link rel="stylesheet" href="{$smarty.const.CSS_DIR}/pintuer.css">
    <link rel="stylesheet" href="{$smarty.const.CSS_DIR}/admin.css">
    <script src="{$smarty.const.JS_DIR}/jquery.js"></script>
    <script src="{$smarty.const.JS_DIR}/pintuer.js"></script>
    <script src="{$smarty.const.JS_DIR}/respond.js"></script>
    <script src="{$smarty.const.JS_DIR}/admin.js"></script>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" />
</head>
<body>
<div class="lefter">
    <div class="logo"><a href="#" target="_blank"><img src="{$smarty.const.IMAGES_DIR}/logo.png" class="radius" alt="后台管理系统" /></a></div>
</div>
<!--start--> 
<script type="text/javascript" src="http://www.daixiaorui.com/Public/js/jquery.min.js"></script>
<style type="text/css">
    .menu li a { display:block; width:80px; text-align:center; height:36px; line-height:36px; }
    .cur{ font-weight:bold; }
</style>
<!-- <ul class="nav nav-inline admin-nav"> -->
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
            	<a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="index.php?p=Back&c=Admin&a=logout">注销登录</a>
				<input type="button" value="返回" onclick="fun()" class="button button-little bg-red">
            </span>
            <ul class="menu admin-nav" id="menu">
                <li class="active"><a href="index.php?p=Back&c=Manage&a=index" > 开始</a>
                    <ul><li><a href="index.php?p=Back&c=Category&a=index" >分类管理</a></li>
					    <li><a href="index.php?p=Back&c=Article&a=index" >文章管理</a></li>
						<li><a href="index.php?p=Back&c=Comment&a=index" >评论管理</a></li><li><a href="index.php?p=Back&c=SinglePage&a=index" >单页管理</a></li>
						<li><a href="index.php?p=Back&c=Master&a=index" >站长管理</a></li>
						<li><a href="index.php?p=Back&c=Friendship&a=index" >友情链接</a></li>
						<li><a href="index.php?p=Back&c=User&a=index" >用户管理</a></li>
                        <li><a href="index.php?p=Back&c=Banner&a=index" >Banner管理</a></li>
                        <li><a href="index.php?p=Back&c=AuthManager&a=index" >权限管理</a></li>
					</ul>
                </li>
            </ul>
        </div>

<!--start-->
<script type="text/javascript">
  var urlstr = location.href;
  var urlstatus=false;
  $("#menu a").each(function () {
    if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
      $(this).addClass('cur'); urlstatus = true;
    } else {
       $(this).removeClass('cur');
    }
  });
  if (!urlstatus) { $("#menu a").eq(0).addClass('cur'); }
</script>
<!--end-->

        <div class="admin-bread">
            <span>您好，{$smarty.session.adminInfo.admin_name}，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="index.php?p=Back&c=Manage&a=index" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>