{include file='../Public/public.html'}
<script type="text/javascript" src='/App/Back/Public/ckeditor/ckeditor.js'>
//这里引入了在线编辑器
</script> 
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>用户管理</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">添加用户</a></li>
      </ul>
    </div>
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="POST" class="form-x" action="index.php?p=Back&c=User&a=dealAdd" enctype="multipart/form-data">
          <div class="form-group">
            <div class="label">
              <label for="sitename">用户名</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="title" name="user_name" size="50" placeholder="用户名" data-validate="required:请填写您的用户名" />
            </div>
          </div>
		    <div class="form-group">
            <div class="label">
              <label for="sitename">用户密码</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="title" name="user_pass" size="50" placeholder="用户密码" data-validate="required:请填写您的用户密码" />
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="logo">用户头像</label>
            </div>
            <div class="field"> <a class="button input-file" href="javascript:void(0);">上传文件
              <input size="100" type="file" name="thumb"  /></a> 
			</div>
          </div>
          <div class="form-button">
            <button name="submit" class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:40px; border-bottom:1px #DDD solid'></div>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>
</body>
</html>