{include file='../Public/public.html'}
<script type="text/javascript" src='/App/Back/Public/ckeditor/ckeditor.js'>//引入在线编辑器</script> 
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>关于角色</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">修改角色</a></li>
      </ul>
    </div>
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="POST" class="form-x" action="index.php?p=Back&c=AuthManager&a=dealEditRole&role_id={$roleInfo.role_id}">
          <div class="form-group">
            <div class="label">
              <label for="sitename">角色名称</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="name" name="role_name" size="50" placeholder="角色名称" data-validate="required:请填写您的角色名称" value="{$roleInfo.role_name}" />
            </div>
          </div>
 

          <div class="form-button">
            <button class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:20px; border-bottom:1px #DDD solid'></div>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>
</body>
</html>