<!doctype html>
<html>
<head>
<meta charset="utf-8">
{include file='../Public/meta.html'}
<link href="{$smarty.const.CSS_DIR}/base.css" rel="stylesheet">
<link href="{$smarty.const.CSS_DIR}/style.css" rel="stylesheet">
<link href="{$smarty.const.CSS_DIR}/about.css" rel="stylesheet">
<link href="{$smarty.const.CSS_DIR}/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{$smarty.const.JS_DIR}/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  {include file='../Public/header.html'}
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">搜索</a>

    </h2>
    <div class="bloglist">
    {foreach from=$content item='row'}
      <div class="newblog">
        <ul>
          <h3><a href="index.php?p=Home&c=Article&a=show&art_id={$row.art_id}">{$row.title}</a></h3>
          <div class="autor"><span>作者：{$row.author}</span><span>时间：{($row.addtime)|date_format:'%Y-%m-%d,%T'}</span><span>浏览（<a href="/">{$row.hits}</a>）</span></div>
          <p>{$row.content|strip_tags|truncate:200:'...'}<a href="index.php?p=Home&c=Article&a=show&art_id={$row.art_id}" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="/Uploads/thumb/{$row.thumb}" ></figure>
      </div>
      {foreachelse}
      <div class="newblog">
      	该站中未找到符合条件的内容
      </div>
    {/foreach}
    </div>
    <div class="page">{$strPage}</div>
  </article>

  <aside>
   {include file='../Public/about.html'}


    <div class="about_c">
      <p>网名：{$masterInfo.nickname}</p>
      <p>职业：{$masterInfo.job}</p>
      <p>籍贯：{$masterInfo.home}</p>
      <p>电话：{$masterInfo.tel}</p>
      <p>邮箱：{$masterInfo.email}</p>
    </div>
    {include file='../Public/copyright.html'}
  </aside>

  <script src="{$smarty.const.JS_DIR}/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
