{include file='../Public/public.html'}
<script type="text/javascript" src='/App/Back/Public/ckeditor/ckeditor.js'>
//这里引入了在线编辑器
</script> 
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>Banner管理</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">修改Banner</a></li>
      </ul>
    </div>
    
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="POST" class="form-x" action="index.php?p=Back&c=Banner&a=dealEdit" enctype="multipart/form-data">

          <div class="form-group">
            <div class="label">
              <label for="logo">缩略图</label>
            </div>
            <div class="field"> 
              <img src="{$smarty.const.BANNER_DIR}/{$bannerInfoById['img']}" width="400px">
              <a class="button input-file" href="javascript:void(0);">上传文件
              <input size="100" type="file" name="banner"  />
              <input type="hidden" name="img" value="{$bannerInfoById.img}">
			  <input type="hidden" name="picture" value="{$bannerInfoById.picture}">
              </a> 
            </div>
          </div>
         
    
          <div class="form-group">
            <div class="label">
              <label for="readme">Banner标题内容</label>
            </div>
            <div class="field">
              <textarea name="title" id="ckeditor" class="input" rows="8" cols="50" >{$bannerInfoById.title}</textarea>
              <script type="text/javascript">
                CKEDITOR.replace('ckeditor',{
                                  uiColor: '#9400D3',//更改边框颜色
                                  width:500
                                });
              </script>
            </div>
          </div>
          <input type="hidden" name="banner_id" value="{$bannerInfoById.id}">
          <div class="form-button">
            <button name="submit" class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:40px; border-bottom:1px #DDD solid'></div>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>
</body>
</html>