{include file='../Public/public.html'}
<script type="text/javascript" src='/App/Back/Public/ckeditor/ckeditor.js'></script>
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>链接管理</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">修改链接</a></li>
      </ul>
    </div>
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="POST" class="form-x" action="index.php?p=Back&c=Friendship&a=dealEdit" enctype="multipart/form-data">
          <div class="form-group">
            <div class="label">
              <label for="sitename">链接标题</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="frd_name" name="frd_name" size="50" placeholder="链接标题" data-validate="required:请填写您的链接标题" value="{$frdInfoById.frd_name}" />
            </div>
          </div>
          
          <div class="form-group">
            <div class="label">
              <label for="siteurl">链接URL</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="frd_url" name="frd_url" size="50" placeholder="请填写链接地址" data-validate="required:请填写链接地址" value="{$frdInfoById.frd_url}" />
            </div>
          </div>
          
          <div class="form-button">
            <input type="hidden" name="frd_id" value="{$frdInfoById.frd_id}">
            <button name="submit" class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:40px; border-bottom:1px #DDD solid'></div>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>
</body>
</html>