{include file='../Public/public.html'}
<div class="admin">
	<div class="line-big">
    	<div class="xm3">
        	<div class="panel border-back">
            	<div class="panel-body text-center">
                	<img src="{$smarty.const.IMAGES_DIR}/face.jpg" width="120" class="radius-circle" /><br />
                    {$smarty.session.adminInfo.admin_name}<br />
                    上线时间:{($smarty.now)|date_format:'%Y-%m-%d %H:%M:%S'}
                </div>
                <div class="panel-foot bg-back border-back">您好，{$smarty.session.adminInfo.admin_name}，这是您第{$smarty.session.adminInfo.login_nums + 1}次登录，上次登录时间为{($smarty.session.adminInfo.login_time)|date_format:'%Y-%m-%d %T'}，上次登录的IP为{$smarty.session.adminInfo.login_ip}</div>
            </div>
            <br />
        	<div class="panel">
            	<div class="panel-head"><strong>站点统计</strong></div>
                <ul class="list-group">
                	<li><span class="float-right badge bg-red">{$count}</span><span class="icon-user"></span> <a href="index.php?p=Back&c=User&a=index">会员</a></li>
                    <li><span class="float-right badge bg-main">{$article}</span><span class="icon-file"></span> <a href="index.php?p=Back&c=Article&a=index">文章</a></li>
                    <li><span class="float-right badge bg-main">1</span><span class="icon-database"></span> 数据库</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert">
                <div class="alert alert-yellow"><span class="close"></span><strong>提示：</strong>欢迎使用作者开发的基于MVC纯框架！</div>
                <h4>基于MVC框架</h4>
                <p class="text-gray padding-top">该空间系统基于MVC框架，高效、简洁……</p>
            	<a target="_blank" class="button bg-dot icon-code" href="#"> 空间后台</a> 
            	<a target="_blank" class="button bg-main icon-download" href="#"> 基于MVC框架</a> 
            	<a target="_blank" class="button border-main icon-file" href="#"> 基于MVC框架</a>
            </div>
            <div class="panel">
            	<div class="panel-head"><strong>系统信息</strong></div>
                <table class="table">
                	<tr><th colspan="2">服务器信息</th><th colspan="2">系统信息</th></tr>
                    <tr><td width="110" align="right">操作系统：</td><td>{$smarty.const.PHP_OS}</td><td width="90" align="right">系统开发：</td><td><a href="#" target="_blank">ICFrame框架</a></td></tr>
                    <tr><td align="right">Web服务器：</td><td>{$smarty.server.SERVER_SOFTWARE}</td><td align="right">主页：</td><td><a href="https://user.qzone.qq.com/2273465837/infocenter" target="_blank">疯子也有梦</a></td></tr>
                    <tr><td align="right">服务器IP：</td><td>{$smarty.server.SERVER_ADDR}</td><td align="right">演示：</td><td><a href="http://tzf.afu666.xyz:81/" target="_blank">系统线上演示</a></td></tr>
                    <tr><td align="right">数据库：</td><td>MySQL</td><td align="right">群交流：</td><td><a href="https://jq.qq.com/?_wv=1027&k=5xxSt65" target="_blank">白衣少侠</a> (点击加入“飞翔”)</td></tr>
                </table>
            </div>
        </div>
    </div>
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建   来源:<a href="#" target="_blank">白衣少侠</a></p>
</div>
</body>
</html>